<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="rgb(211, 241, 255)">
    <!--<link rel="stylesheet" href="assets/css/reset.css">-->
    <link rel="stylesheet" href="assets/css/vue.css">
    <title>Fishsoup.kr</title>
</head>
<body>
    <!--
    <div class="navigate">
        <li v-for="list in list">
            <a v-bind:href="list.link">{{list.title}}</a>
        </li>
    </div>
-->
    <div id = "title" name="">
        <div class="black">
                <div style="padding-top:40vh; padding-bottom: 40vh">
                    <h1 style="line-height: 5px">FishSoup</h1>
                    <h4>Student Developer</h4>
                    <hr style="width:20%">
                    <h3 style="font-weight: 100">Korea Digital Media High School</h3>
                </div>
        </div>
    </div>
    <div id = "list-1">
        <div class="list" v-for="list in list" v-bind:name="list.name" v-bind:style="{'background-color': list.color ,'background-image': 'url(' + list.img + ')'}">
            <div class="box" v-bind:class="{black : list.black, text_black : list.sub}">                        
                <h1>{{list.title}}</h1>
                <h2 v-for="text in list.text">{{text}}</h2>
            </div>
            
        </div>
    </div>
    <div id = "list-2">
        <div class="box">
            <h1>{{title}}</h1>
            <div v-for="list in list">
                <h4 style="line-height:3px">{{list.title}}</h4>
                <h2>{{list.text}}</h2>
            </div>
            <button v-if="seen" v-on:click="ddi">훌쩍</button>
        </div>
    </div>
    <div id = "list-3">
        <div class="box">
            <h1>기술경력</h1>
            <div class="flex">
                <div v-for="list in list" class="item">
                    <div class="h10">{{list.title}}</div>
                    <div class="h11">{{list.year}}</div>
                    <div class="h12">{{list.skill}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id = "introduce" name="introduce">
        <div class="box">
            <h1>소개</h1>

            <p>
                안녕하세요. 한국디지털미디어고등학교에 재학중인 생선스프 입니다.<br>
                초등학교 6학년부터 프로그래밍에 관심을 갖게 되었고, 고등학교 1학년부터 본격적으로 시작하게 되었습니다. 현재 웹/서버 개발을 중심으로 하고 있습니다.
            </p>
        </div>
    </div>

    <div id="end">
        <div class="box">
                <p>&copy; 2018 fishsoup.kr (FishSoup)&lt;whdqhr345@gmail.com&gt;</p>
        </div>
        
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/assets/js/vue.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="assets/js/j.js"></script>
</html>
