body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    font-weight: 300;    
    text-align:center;
    background-color:black;
    color:white;
    line-height:100vh;
}